<div class="courses-panel">
  <h3>Kanto Pokemon</h3>

  <mat-card
    *ngFor="let pokemon of pokemons$ | async"
    class="course-card mat-elevation-z10"
  >
    <mat-card-header>
      <mat-card-title>{{ pokemon.name }}</mat-card-title>
    </mat-card-header>

    <img mat-card-lg-image [src]="pokemon.image" />

    <mat-card-actions class="course-actions">
      <button
        mat-button
        class="mat-raised-button mat-primary"
        [routerLink]="['/pokemons', pokemon.id]"
      >
        VIEW POKEMON
      </button>

      <button mat-button class="mat-raised-button mat-accent">
        EDIT
      </button>
    </mat-card-actions>
  </mat-card>
</div>
